name: balloon_burst
description: Balloon popping game
publish_to: "none"

environment:
  sdk: ">=3.0.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter

  flame: ^1.17.0
  tapjunkie_engine:
    git:
      url: https://github.com/Sinhuej/tapjunkie_engine.git
      ref: main

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
  uses-material-design: true

