name: Flutter Android Build

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        persist-credentials: true
        submodules: true
        fetch-depth: 0

    - name: Setup SSH for git dependencies
      run: |
        mkdir -p ~/.ssh
        echo "${{ secrets.TJE_SSH_KEY }}" > ~/.ssh/id_ed25519
        chmod 600 ~/.ssh/id_ed25519
        ssh-keyscan github.com >> ~/.ssh/known_hosts

    - name: Install Flutter
      uses: subosito/flutter-action@v2
      with:
        channel: stable

    - name: Flutter pub get
      run: flutter pub get

    - name: Build APK
      run: flutter build apk --release

